<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="f7ac37c9591b427293fbc202b44604cf" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f7ac37c9591b427293fbc202b44604cf = echarts.init(
            document.getElementById('f7ac37c9591b427293fbc202b44604cf'), 'white', {renderer: 'canvas'});
        var option_f7ac37c9591b427293fbc202b44604cf = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4e16\u754c\u5730\u56fe",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "China",
                    "value": 81692
                },
                {
                    "name": "Italy",
                    "value": 63927
                },
                {
                    "name": "United States",
                    "value": 46443
                },
                {
                    "name": "Spain",
                    "value": 33089
                },
                {
                    "name": "Germany",
                    "value": 29056
                },
                {
                    "name": "Iran",
                    "value": 23049
                },
                {
                    "name": "France",
                    "value": 19856
                },
                {
                    "name": "Korea",
                    "value": 9037
                },
                {
                    "name": "Switzerland",
                    "value": 8060
                },
                {
                    "name": "United Kingdom",
                    "value": 6650
                },
                {
                    "name": "Netherlands",
                    "value": 4749
                },
                {
                    "name": "Austria",
                    "value": 4486
                },
                {
                    "name": "Belgium",
                    "value": 3743
                },
                {
                    "name": "Norway",
                    "value": 2573
                },
                {
                    "name": "Canada",
                    "value": 2091
                },
                {
                    "name": "Portugal",
                    "value": 2060
                },
                {
                    "name": "Sweden",
                    "value": 2016
                },
                {
                    "name": "Brazil",
                    "value": 1891
                },
                {
                    "name": "Australia",
                    "value": 1887
                },
                {
                    "name": "Turkey",
                    "value": 1529
                },
                {
                    "name": "Malaysia",
                    "value": 1518
                },
                {
                    "name": "Denmark",
                    "value": 1460
                },
                {
                    "name": "Israel",
                    "value": 1442
                },
                {
                    "name": "Czech",
                    "value": 1236
                },
                {
                    "name": "Japan",
                    "value": 1142
                },
                {
                    "name": "Ireland",
                    "value": 1125
                },
                {
                    "name": "Ecuador",
                    "value": 981
                },
                {
                    "name": "Pakistan",
                    "value": 892
                },
                {
                    "name": "Luxembourg",
                    "value": 875
                },
                {
                    "name": "Thailand",
                    "value": 827
                },
                {
                    "name": "Poland",
                    "value": 749
                },
                {
                    "name": "Chile",
                    "value": 746
                },
                {
                    "name": "Finland",
                    "value": 700
                },
                {
                    "name": "Greece",
                    "value": 695
                },
                {
                    "name": "Iceland",
                    "value": 588
                },
                {
                    "name": "Indonesia",
                    "value": 579
                },
                {
                    "name": "Romania",
                    "value": 576
                },
                {
                    "name": "Saudi Arabia",
                    "value": 562
                },
                {
                    "name": "Philippines",
                    "value": 552
                },
                {
                    "name": "Singapore",
                    "value": 509
                },
                {
                    "name": "Qatar",
                    "value": 501
                },
                {
                    "name": "India",
                    "value": 492
                },
                {
                    "name": "Slovenia",
                    "value": 442
                },
                {
                    "name": "Russia",
                    "value": 438
                },
                {
                    "name": "South Africa",
                    "value": 402
                },
                {
                    "name": "Peru",
                    "value": 395
                },
                {
                    "name": "Mexico",
                    "value": 367
                },
                {
                    "name": "Egypt",
                    "value": 366
                },
                {
                    "name": "Estonia",
                    "value": 352
                },
                {
                    "name": "Panama",
                    "value": 345
                },
                {
                    "name": "Bahrain",
                    "value": 339
                },
                {
                    "name": "Croatia",
                    "value": 315
                },
                {
                    "name": "Argentina",
                    "value": 301
                },
                {
                    "name": "Colombia",
                    "value": 277
                },
                {
                    "name": "Lebanon",
                    "value": 267
                },
                {
                    "name": "Iraq",
                    "value": 266
                },
                {
                    "name": "Serbia",
                    "value": 249
                },
                {
                    "name": "Armenia",
                    "value": 235
                },
                {
                    "name": "Algeria",
                    "value": 230
                },
                {
                    "name": "Dominica",
                    "value": 202
                },
                {
                    "name": "Bulgaria",
                    "value": 201
                },
                {
                    "name": "United Arab Emirates",
                    "value": 198
                },
                {
                    "name": "Kuwait",
                    "value": 191
                },
                {
                    "name": "Slovakia",
                    "value": 186
                },
                {
                    "name": "Latvia",
                    "value": 180
                },
                {
                    "name": "San Marino",
                    "value": 175
                },
                {
                    "name": "Hungary",
                    "value": 167
                },
                {
                    "name": "Lithuania",
                    "value": 160
                },
                {
                    "name": "Costa Rica",
                    "value": 158
                },
                {
                    "name": "Uruguay",
                    "value": 158
                },
                {
                    "name": "Morocco",
                    "value": 143
                },
                {
                    "name": "New Zealand",
                    "value": 142
                },
                {
                    "name": "The Republic of North Macedonia",
                    "value": 136
                },
                {
                    "name": "Andorra",
                    "value": 133
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 131
                },
                {
                    "name": "Jordan",
                    "value": 127
                },
                {
                    "name": "Vietnam",
                    "value": 123
                },
                {
                    "name": "Cyprus",
                    "value": 116
                },
                {
                    "name": "Moldova",
                    "value": 109
                },
                {
                    "name": "Albania",
                    "value": 104
                },
                {
                    "name": "Burkina Faso",
                    "value": 99
                },
                {
                    "name": "Sri Lanka",
                    "value": 92
                },
                {
                    "name": "Brunei",
                    "value": 91
                },
                {
                    "name": "Tunisia",
                    "value": 89
                },
                {
                    "name": "Oman",
                    "value": 84
                },
                {
                    "name": "Ukraine",
                    "value": 84
                },
                {
                    "name": "Venezuela",
                    "value": 84
                },
                {
                    "name": "Cambodia",
                    "value": 84
                },
                {
                    "name": "Belarus",
                    "value": 81
                },
                {
                    "name": "Senegal",
                    "value": 79
                },
                {
                    "name": "Azerbaijan",
                    "value": 72
                },
                {
                    "name": "Kazakhstan",
                    "value": 66
                },
                {
                    "name": "Malta",
                    "value": 64
                },
                {
                    "name": "Georgia",
                    "value": 61
                },
                {
                    "name": "Palestine",
                    "value": 59
                },
                {
                    "name": "Cameroon",
                    "value": 56
                },
                {
                    "name": "Liechtenstein",
                    "value": 51
                },
                {
                    "name": "Uzbekistan",
                    "value": 46
                },
                {
                    "name": "Congo (Congo-Kinshasa)",
                    "value": 45
                },
                {
                    "name": "Afghanistan",
                    "value": 42
                },
                {
                    "name": "Cuba",
                    "value": 40
                },
                {
                    "name": "Mauritius",
                    "value": 36
                },
                {
                    "name": "Nigeria",
                    "value": 36
                },
                {
                    "name": "Bangladesh",
                    "value": 33
                },
                {
                    "name": "Honduras",
                    "value": 30
                },
                {
                    "name": "Ghana",
                    "value": 27
                },
                {
                    "name": "Montenegro",
                    "value": 27
                },
                {
                    "name": "Monaco",
                    "value": 23
                },
                {
                    "name": "Paraguay",
                    "value": 22
                },
                {
                    "name": "Bolivia",
                    "value": 19
                },
                {
                    "name": "Rwanda",
                    "value": 17
                },
                {
                    "name": "Guatemala",
                    "value": 17
                },
                {
                    "name": "Togo",
                    "value": 16
                },
                {
                    "name": "Kenya",
                    "value": 16
                },
                {
                    "name": "Kyrgyzstan",
                    "value": 16
                },
                {
                    "name": "Cote D\u2019Ivoire",
                    "value": 14
                },
                {
                    "name": "Puerto Rico",
                    "value": 14
                },
                {
                    "name": "Maldives",
                    "value": 13
                },
                {
                    "name": "Madagascar",
                    "value": 12
                },
                {
                    "name": "Tanzania",
                    "value": 12
                },
                {
                    "name": "Ethiopia",
                    "value": 12
                },
                {
                    "name": "Mongolia",
                    "value": 10
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 9
                },
                {
                    "name": "Uganda",
                    "value": 9
                },
                {
                    "name": "Guyana",
                    "value": 7
                },
                {
                    "name": "Suriname",
                    "value": 6
                },
                {
                    "name": "Gabon",
                    "value": 5
                },
                {
                    "name": "Swaziland",
                    "value": 5
                },
                {
                    "name": "Benin",
                    "value": 5
                },
                {
                    "name": "Guinea",
                    "value": 4
                },
                {
                    "name": "The Republic of Congo",
                    "value": 4
                },
                {
                    "name": "Seychelles",
                    "value": 4
                },
                {
                    "name": "Zambia",
                    "value": 3
                },
                {
                    "name": "Liberia",
                    "value": 3
                },
                {
                    "name": "Angola",
                    "value": 3
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e16\u754c\u5730\u56fe"
            ],
            "selected": {
                "\u4e16\u754c\u5730\u56fe": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e16\u754c\u75ab\u60c5\u5730\u56fencov",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_f7ac37c9591b427293fbc202b44604cf.setOption(option_f7ac37c9591b427293fbc202b44604cf);
    </script>
</body>
</html>
