<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="e59d2346cd6145a6a04c18e1e63a3356" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e59d2346cd6145a6a04c18e1e63a3356 = echarts.init(
            document.getElementById('e59d2346cd6145a6a04c18e1e63a3356'), 'white', {renderer: 'canvas'});
        var option_e59d2346cd6145a6a04c18e1e63a3356 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4e16\u754c\u5730\u56fe",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "China",
                    "value": 80956
                },
                {
                    "name": "Italy",
                    "value": 59138
                },
                {
                    "name": "United States",
                    "value": 35211
                },
                {
                    "name": "Spain",
                    "value": 33089
                },
                {
                    "name": "Germany",
                    "value": 24873
                },
                {
                    "name": "Iran",
                    "value": 23049
                },
                {
                    "name": "France",
                    "value": 16018
                },
                {
                    "name": "Korea",
                    "value": 8961
                },
                {
                    "name": "Switzerland",
                    "value": 7474
                },
                {
                    "name": "United Kingdom",
                    "value": 5683
                },
                {
                    "name": "Netherlands",
                    "value": 4204
                },
                {
                    "name": "Belgium",
                    "value": 3743
                },
                {
                    "name": "Austria",
                    "value": 3627
                },
                {
                    "name": "Norway",
                    "value": 2262
                },
                {
                    "name": "Sweden",
                    "value": 1934
                },
                {
                    "name": "Australia",
                    "value": 1709
                },
                {
                    "name": "Portugal",
                    "value": 1600
                },
                {
                    "name": "Brazil",
                    "value": 1546
                },
                {
                    "name": "Malaysia",
                    "value": 1518
                },
                {
                    "name": "Canada",
                    "value": 1472
                },
                {
                    "name": "Denmark",
                    "value": 1395
                },
                {
                    "name": "Israel",
                    "value": 1238
                },
                {
                    "name": "Turkey",
                    "value": 1236
                },
                {
                    "name": "Czech",
                    "value": 1120
                },
                {
                    "name": "Japan",
                    "value": 1109
                },
                {
                    "name": "Ireland",
                    "value": 906
                },
                {
                    "name": "Pakistan",
                    "value": 799
                },
                {
                    "name": "Luxembourg",
                    "value": 798
                },
                {
                    "name": "Ecuador",
                    "value": 789
                },
                {
                    "name": "Thailand",
                    "value": 721
                },
                {
                    "name": "Poland",
                    "value": 634
                },
                {
                    "name": "Chile",
                    "value": 632
                },
                {
                    "name": "Finland",
                    "value": 626
                },
                {
                    "name": "Greece",
                    "value": 624
                },
                {
                    "name": "Indonesia",
                    "value": 579
                },
                {
                    "name": "Iceland",
                    "value": 568
                },
                {
                    "name": "Saudi Arabia",
                    "value": 511
                },
                {
                    "name": "Qatar",
                    "value": 494
                },
                {
                    "name": "Singapore",
                    "value": 455
                },
                {
                    "name": "Russia",
                    "value": 438
                },
                {
                    "name": "Romania",
                    "value": 433
                },
                {
                    "name": "India",
                    "value": 425
                },
                {
                    "name": "Slovenia",
                    "value": 414
                },
                {
                    "name": "Philippines",
                    "value": 396
                },
                {
                    "name": "Peru",
                    "value": 363
                },
                {
                    "name": "Bahrain",
                    "value": 334
                },
                {
                    "name": "Egypt",
                    "value": 327
                },
                {
                    "name": "Estonia",
                    "value": 326
                },
                {
                    "name": "Mexico",
                    "value": 316
                },
                {
                    "name": "Panama",
                    "value": 313
                },
                {
                    "name": "South Africa",
                    "value": 274
                },
                {
                    "name": "Argentina",
                    "value": 266
                },
                {
                    "name": "Croatia",
                    "value": 254
                },
                {
                    "name": "Lebanon",
                    "value": 248
                },
                {
                    "name": "Colombia",
                    "value": 235
                },
                {
                    "name": "Iraq",
                    "value": 233
                },
                {
                    "name": "Serbia",
                    "value": 222
                },
                {
                    "name": "Dominica",
                    "value": 202
                },
                {
                    "name": "Algeria",
                    "value": 201
                },
                {
                    "name": "Armenia",
                    "value": 194
                },
                {
                    "name": "Kuwait",
                    "value": 188
                },
                {
                    "name": "Bulgaria",
                    "value": 187
                },
                {
                    "name": "Slovakia",
                    "value": 185
                },
                {
                    "name": "San Marino",
                    "value": 175
                },
                {
                    "name": "Hungary",
                    "value": 167
                },
                {
                    "name": "Uruguay",
                    "value": 158
                },
                {
                    "name": "United Arab Emirates",
                    "value": 153
                },
                {
                    "name": "Lithuania",
                    "value": 143
                },
                {
                    "name": "Latvia",
                    "value": 139
                },
                {
                    "name": "Costa Rica",
                    "value": 134
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 126
                },
                {
                    "name": "Vietnam",
                    "value": 116
                },
                {
                    "name": "Morocco",
                    "value": 115
                },
                {
                    "name": "Andorra",
                    "value": 114
                },
                {
                    "name": "The Republic of North Macedonia",
                    "value": 114
                },
                {
                    "name": "Jordan",
                    "value": 112
                },
                {
                    "name": "New Zealand",
                    "value": 102
                },
                {
                    "name": "Cyprus",
                    "value": 95
                },
                {
                    "name": "Moldova",
                    "value": 94
                },
                {
                    "name": "Brunei",
                    "value": 91
                },
                {
                    "name": "Albania",
                    "value": 89
                },
                {
                    "name": "Sri Lanka",
                    "value": 87
                },
                {
                    "name": "Cambodia",
                    "value": 84
                },
                {
                    "name": "Venezuela",
                    "value": 77
                },
                {
                    "name": "Tunisia",
                    "value": 75
                },
                {
                    "name": "Ukraine",
                    "value": 73
                },
                {
                    "name": "Belarus",
                    "value": 69
                },
                {
                    "name": "Senegal",
                    "value": 67
                },
                {
                    "name": "Oman",
                    "value": 66
                },
                {
                    "name": "Azerbaijan",
                    "value": 65
                },
                {
                    "name": "Burkina Faso",
                    "value": 64
                },
                {
                    "name": "Malta",
                    "value": 64
                },
                {
                    "name": "Kazakhstan",
                    "value": 60
                },
                {
                    "name": "Palestine",
                    "value": 59
                },
                {
                    "name": "Cameroon",
                    "value": 56
                },
                {
                    "name": "Georgia",
                    "value": 54
                },
                {
                    "name": "Uzbekistan",
                    "value": 43
                },
                {
                    "name": "Afghanistan",
                    "value": 40
                },
                {
                    "name": "Liechtenstein",
                    "value": 37
                },
                {
                    "name": "Nigeria",
                    "value": 36
                },
                {
                    "name": "Congo (Congo-Kinshasa)",
                    "value": 30
                },
                {
                    "name": "Mauritius",
                    "value": 28
                },
                {
                    "name": "Bangladesh",
                    "value": 27
                },
                {
                    "name": "Ghana",
                    "value": 24
                },
                {
                    "name": "Honduras",
                    "value": 24
                },
                {
                    "name": "Monaco",
                    "value": 23
                },
                {
                    "name": "Paraguay",
                    "value": 22
                },
                {
                    "name": "Cuba",
                    "value": 21
                },
                {
                    "name": "Guatemala",
                    "value": 17
                },
                {
                    "name": "Rwanda",
                    "value": 17
                },
                {
                    "name": "Togo",
                    "value": 16
                },
                {
                    "name": "Kenya",
                    "value": 15
                },
                {
                    "name": "Puerto Rico",
                    "value": 14
                },
                {
                    "name": "Cote D\u2019Ivoire",
                    "value": 14
                },
                {
                    "name": "Maldives",
                    "value": 13
                },
                {
                    "name": "Kyrgyzstan",
                    "value": 12
                },
                {
                    "name": "Madagascar",
                    "value": 12
                },
                {
                    "name": "Tanzania",
                    "value": 12
                },
                {
                    "name": "Ethiopia",
                    "value": 11
                },
                {
                    "name": "Mongolia",
                    "value": 10
                },
                {
                    "name": "Montenegro",
                    "value": 10
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 9
                },
                {
                    "name": "Guyana",
                    "value": 7
                },
                {
                    "name": "Gabon",
                    "value": 5
                },
                {
                    "name": "The Republic of Congo",
                    "value": 4
                },
                {
                    "name": "Seychelles",
                    "value": 4
                },
                {
                    "name": "Swaziland",
                    "value": 4
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e16\u754c\u5730\u56fe"
            ],
            "selected": {
                "\u4e16\u754c\u5730\u56fe": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e16\u754c\u75ab\u60c5\u5730\u56fencov",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_e59d2346cd6145a6a04c18e1e63a3356.setOption(option_e59d2346cd6145a6a04c18e1e63a3356);
    </script>
</body>
</html>
