<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="748d7cc2fa174f1aa5d9af2ca7b619bd" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_748d7cc2fa174f1aa5d9af2ca7b619bd = echarts.init(
            document.getElementById('748d7cc2fa174f1aa5d9af2ca7b619bd'), 'white', {renderer: 'canvas'});
        var option_748d7cc2fa174f1aa5d9af2ca7b619bd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4e16\u754c\u5730\u56fe",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "China",
                    "value": 80956
                },
                {
                    "name": "Italy",
                    "value": 27980
                },
                {
                    "name": "Iran",
                    "value": 14991
                },
                {
                    "name": "Spain",
                    "value": 9191
                },
                {
                    "name": "Korea",
                    "value": 8320
                },
                {
                    "name": "Germany",
                    "value": 7272
                },
                {
                    "name": "France",
                    "value": 6633
                },
                {
                    "name": "United States",
                    "value": 4687
                },
                {
                    "name": "Switzerland",
                    "value": 2220
                },
                {
                    "name": "United Kingdom",
                    "value": 1543
                },
                {
                    "name": "Netherlands",
                    "value": 1413
                },
                {
                    "name": "Norway",
                    "value": 1331
                },
                {
                    "name": "Sweden",
                    "value": 1119
                },
                {
                    "name": "Belgium",
                    "value": 1085
                },
                {
                    "name": "Austria",
                    "value": 1016
                },
                {
                    "name": "Denmark",
                    "value": 914
                },
                {
                    "name": "Japan",
                    "value": 835
                },
                {
                    "name": "Malaysia",
                    "value": 553
                },
                {
                    "name": "Australia",
                    "value": 449
                },
                {
                    "name": "Qatar",
                    "value": 439
                },
                {
                    "name": "Canada",
                    "value": 436
                },
                {
                    "name": "Greece",
                    "value": 352
                },
                {
                    "name": "Czech",
                    "value": 344
                },
                {
                    "name": "Israel",
                    "value": 344
                },
                {
                    "name": "Portugal",
                    "value": 331
                },
                {
                    "name": "Finland",
                    "value": 272
                },
                {
                    "name": "Slovenia",
                    "value": 253
                },
                {
                    "name": "Singapore",
                    "value": 243
                },
                {
                    "name": "Brazil",
                    "value": 234
                },
                {
                    "name": "Bahrain",
                    "value": 227
                },
                {
                    "name": "Ireland",
                    "value": 223
                },
                {
                    "name": "Estonia",
                    "value": 205
                },
                {
                    "name": "Pakistan",
                    "value": 184
                },
                {
                    "name": "Iceland",
                    "value": 180
                },
                {
                    "name": "Poland",
                    "value": 177
                },
                {
                    "name": "Thailand",
                    "value": 177
                },
                {
                    "name": "Egypt",
                    "value": 166
                },
                {
                    "name": "Romania",
                    "value": 158
                },
                {
                    "name": "Chile",
                    "value": 156
                },
                {
                    "name": "Philippines",
                    "value": 142
                },
                {
                    "name": "Indonesia",
                    "value": 134
                },
                {
                    "name": "Saudi Arabia",
                    "value": 133
                },
                {
                    "name": "Iraq",
                    "value": 133
                },
                {
                    "name": "India",
                    "value": 126
                },
                {
                    "name": "Kuwait",
                    "value": 123
                },
                {
                    "name": "Lebanon",
                    "value": 109
                },
                {
                    "name": "San Marino",
                    "value": 98
                },
                {
                    "name": "United Arab Emirates",
                    "value": 98
                },
                {
                    "name": "Russia",
                    "value": 93
                },
                {
                    "name": "Mexico",
                    "value": 82
                },
                {
                    "name": "Luxembourg",
                    "value": 81
                },
                {
                    "name": "Slovakia",
                    "value": 72
                },
                {
                    "name": "Peru",
                    "value": 71
                },
                {
                    "name": "Panama",
                    "value": 69
                },
                {
                    "name": "Argentina",
                    "value": 65
                },
                {
                    "name": "South Africa",
                    "value": 62
                },
                {
                    "name": "Vietnam",
                    "value": 61
                },
                {
                    "name": "Algeria",
                    "value": 60
                },
                {
                    "name": "Ecuador",
                    "value": 58
                },
                {
                    "name": "Colombia",
                    "value": 57
                },
                {
                    "name": "Croatia",
                    "value": 57
                },
                {
                    "name": "Serbia",
                    "value": 57
                },
                {
                    "name": "Brunei",
                    "value": 54
                },
                {
                    "name": "Bulgaria",
                    "value": 51
                },
                {
                    "name": "Liechtenstein",
                    "value": 50
                },
                {
                    "name": "Turkey",
                    "value": 47
                },
                {
                    "name": "Albania",
                    "value": 42
                },
                {
                    "name": "Costa Rica",
                    "value": 41
                },
                {
                    "name": "Morocco",
                    "value": 37
                },
                {
                    "name": "Belarus",
                    "value": 36
                },
                {
                    "name": "Palestine",
                    "value": 35
                },
                {
                    "name": "Latvia",
                    "value": 34
                },
                {
                    "name": "Georgia",
                    "value": 33
                },
                {
                    "name": "Venezuela",
                    "value": 33
                },
                {
                    "name": "Cyprus",
                    "value": 33
                },
                {
                    "name": "Hungary",
                    "value": 32
                },
                {
                    "name": "Jordan",
                    "value": 30
                },
                {
                    "name": "Sri Lanka",
                    "value": 29
                },
                {
                    "name": "Armenia",
                    "value": 28
                },
                {
                    "name": "Kazakhstan",
                    "value": 27
                },
                {
                    "name": "Senegal",
                    "value": 27
                },
                {
                    "name": "Azerbaijan",
                    "value": 25
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 24
                },
                {
                    "name": "Oman",
                    "value": 24
                },
                {
                    "name": "Moldova",
                    "value": 23
                },
                {
                    "name": "Afghanistan",
                    "value": 22
                },
                {
                    "name": "Dominica",
                    "value": 21
                },
                {
                    "name": "Tunisia",
                    "value": 20
                },
                {
                    "name": "Malta",
                    "value": 18
                },
                {
                    "name": "The Republic of North Macedonia",
                    "value": 18
                },
                {
                    "name": "Lithuania",
                    "value": 17
                },
                {
                    "name": "Burkina Faso",
                    "value": 15
                },
                {
                    "name": "Andorra",
                    "value": 15
                },
                {
                    "name": "Maldives",
                    "value": 13
                },
                {
                    "name": "Cambodia",
                    "value": 12
                },
                {
                    "name": "New Zealand",
                    "value": 11
                },
                {
                    "name": "Monaco",
                    "value": 9
                },
                {
                    "name": "Bangladesh",
                    "value": 8
                },
                {
                    "name": "Rwanda",
                    "value": 7
                },
                {
                    "name": "Ukraine",
                    "value": 7
                },
                {
                    "name": "Uruguay",
                    "value": 6
                },
                {
                    "name": "Paraguay",
                    "value": 6
                },
                {
                    "name": "Cote D\u2019Ivoire",
                    "value": 6
                },
                {
                    "name": "Ghana",
                    "value": 6
                },
                {
                    "name": "Uzbekistan",
                    "value": 6
                },
                {
                    "name": "Cameroon",
                    "value": 5
                },
                {
                    "name": "Puerto Rico",
                    "value": 5
                },
                {
                    "name": "Ethiopia",
                    "value": 5
                },
                {
                    "name": "Mongolia",
                    "value": 4
                },
                {
                    "name": "Seychelles",
                    "value": 4
                },
                {
                    "name": "Guyana",
                    "value": 4
                },
                {
                    "name": "Kenya",
                    "value": 3
                },
                {
                    "name": "Congo (Congo-Kinshasa)",
                    "value": 3
                },
                {
                    "name": "Honduras",
                    "value": 2
                },
                {
                    "name": "Kosovo",
                    "value": 2
                },
                {
                    "name": "Nigeria",
                    "value": 2
                },
                {
                    "name": "Guatemala",
                    "value": 2
                },
                {
                    "name": "Namibia",
                    "value": 2
                },
                {
                    "name": "Vatican City",
                    "value": 1
                },
                {
                    "name": "Nepal",
                    "value": 1
                },
                {
                    "name": "Guinea",
                    "value": 1
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 1
                },
                {
                    "name": "Bhutan",
                    "value": 1
                },
                {
                    "name": "Somalia",
                    "value": 1
                },
                {
                    "name": "Mauritania",
                    "value": 1
                },
                {
                    "name": "The Republic of Congo",
                    "value": 1
                },
                {
                    "name": "Togo",
                    "value": 1
                },
                {
                    "name": "Liberia",
                    "value": 1
                },
                {
                    "name": "Antigua and Barbuda",
                    "value": 1
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e16\u754c\u5730\u56fe"
            ],
            "selected": {
                "\u4e16\u754c\u5730\u56fe": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e16\u754c\u75ab\u60c5\u5730\u56fencov",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_748d7cc2fa174f1aa5d9af2ca7b619bd.setOption(option_748d7cc2fa174f1aa5d9af2ca7b619bd);
    </script>
</body>
</html>
