<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="63e1b397b21e424a88e4c4eb8850d793" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_63e1b397b21e424a88e4c4eb8850d793 = echarts.init(
            document.getElementById('63e1b397b21e424a88e4c4eb8850d793'), 'white', {renderer: 'canvas'});
        var option_63e1b397b21e424a88e4c4eb8850d793 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4e16\u754c\u5730\u56fe",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "China",
                    "value": 80956
                },
                {
                    "name": "Italy",
                    "value": 12462
                },
                {
                    "name": "Iran",
                    "value": 9000
                },
                {
                    "name": "Korea",
                    "value": 7869
                },
                {
                    "name": "France",
                    "value": 2281
                },
                {
                    "name": "Spain",
                    "value": 2277
                },
                {
                    "name": "Germany",
                    "value": 1966
                },
                {
                    "name": "United States",
                    "value": 1321
                },
                {
                    "name": "Switzerland",
                    "value": 645
                },
                {
                    "name": "Japan",
                    "value": 628
                },
                {
                    "name": "Denmark",
                    "value": 514
                },
                {
                    "name": "Netherlands",
                    "value": 503
                },
                {
                    "name": "Sweden",
                    "value": 500
                },
                {
                    "name": "Norway",
                    "value": 489
                },
                {
                    "name": "United Kingdom",
                    "value": 460
                },
                {
                    "name": "Belgium",
                    "value": 314
                },
                {
                    "name": "Qatar",
                    "value": 263
                },
                {
                    "name": "Austria",
                    "value": 246
                },
                {
                    "name": "Bahrain",
                    "value": 195
                },
                {
                    "name": "Singapore",
                    "value": 178
                },
                {
                    "name": "Malaysia",
                    "value": 149
                },
                {
                    "name": "Australia",
                    "value": 129
                },
                {
                    "name": "Canada",
                    "value": 107
                },
                {
                    "name": "Greece",
                    "value": 99
                },
                {
                    "name": "Israel",
                    "value": 97
                },
                {
                    "name": "Czech",
                    "value": 91
                },
                {
                    "name": "Iceland",
                    "value": 90
                },
                {
                    "name": "United Arab Emirates",
                    "value": 74
                },
                {
                    "name": "Kuwait",
                    "value": 72
                },
                {
                    "name": "Iraq",
                    "value": 71
                },
                {
                    "name": "San Marino",
                    "value": 69
                },
                {
                    "name": "India",
                    "value": 68
                },
                {
                    "name": "Egypt",
                    "value": 67
                },
                {
                    "name": "Finland",
                    "value": 65
                },
                {
                    "name": "Portugal",
                    "value": 59
                },
                {
                    "name": "Thailand",
                    "value": 59
                },
                {
                    "name": "Lebanon",
                    "value": 59
                },
                {
                    "name": "Brazil",
                    "value": 52
                },
                {
                    "name": "Philippines",
                    "value": 49
                },
                {
                    "name": "Romania",
                    "value": 47
                },
                {
                    "name": "Slovenia",
                    "value": 47
                },
                {
                    "name": "Ireland",
                    "value": 43
                },
                {
                    "name": "Vietnam",
                    "value": 39
                },
                {
                    "name": "Indonesia",
                    "value": 34
                },
                {
                    "name": "Poland",
                    "value": 31
                },
                {
                    "name": "Palestine",
                    "value": 30
                },
                {
                    "name": "Russia",
                    "value": 28
                },
                {
                    "name": "Georgia",
                    "value": 24
                },
                {
                    "name": "Chile",
                    "value": 23
                },
                {
                    "name": "Saudi Arabia",
                    "value": 21
                },
                {
                    "name": "Algeria",
                    "value": 20
                },
                {
                    "name": "Pakistan",
                    "value": 20
                },
                {
                    "name": "Croatia",
                    "value": 19
                },
                {
                    "name": "Argentina",
                    "value": 19
                },
                {
                    "name": "Oman",
                    "value": 18
                },
                {
                    "name": "Serbia",
                    "value": 18
                },
                {
                    "name": "Ecuador",
                    "value": 17
                },
                {
                    "name": "Estonia",
                    "value": 16
                },
                {
                    "name": "Azerbaijan",
                    "value": 15
                },
                {
                    "name": "Albania",
                    "value": 15
                },
                {
                    "name": "Hungary",
                    "value": 13
                },
                {
                    "name": "Costa Rica",
                    "value": 13
                },
                {
                    "name": "South Africa",
                    "value": 13
                },
                {
                    "name": "Belarus",
                    "value": 12
                },
                {
                    "name": "Peru",
                    "value": 11
                },
                {
                    "name": "Brunei",
                    "value": 11
                },
                {
                    "name": "Panama",
                    "value": 11
                },
                {
                    "name": "Latvia",
                    "value": 10
                },
                {
                    "name": "Slovakia",
                    "value": 10
                },
                {
                    "name": "Colombia",
                    "value": 9
                },
                {
                    "name": "The Republic of North Macedonia",
                    "value": 9
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 7
                },
                {
                    "name": "Tunisia",
                    "value": 7
                },
                {
                    "name": "Afghanistan",
                    "value": 7
                },
                {
                    "name": "Bulgaria",
                    "value": 7
                },
                {
                    "name": "Mexico",
                    "value": 7
                },
                {
                    "name": "Luxembourg",
                    "value": 7
                },
                {
                    "name": "Malta",
                    "value": 6
                },
                {
                    "name": "Cyprus",
                    "value": 6
                },
                {
                    "name": "Maldives",
                    "value": 6
                },
                {
                    "name": "Morocco",
                    "value": 5
                },
                {
                    "name": "Dominica",
                    "value": 5
                },
                {
                    "name": "New Zealand",
                    "value": 5
                },
                {
                    "name": "Senegal",
                    "value": 4
                },
                {
                    "name": "Moldova",
                    "value": 3
                },
                {
                    "name": "Lithuania",
                    "value": 3
                },
                {
                    "name": "Cambodia",
                    "value": 3
                },
                {
                    "name": "Bangladesh",
                    "value": 3
                },
                {
                    "name": "Honduras",
                    "value": 2
                },
                {
                    "name": "Nigeria",
                    "value": 2
                },
                {
                    "name": "Paraguay",
                    "value": 2
                },
                {
                    "name": "Sri Lanka",
                    "value": 2
                },
                {
                    "name": "Cameroon",
                    "value": 2
                },
                {
                    "name": "Burkina Faso",
                    "value": 2
                },
                {
                    "name": "Andorra",
                    "value": 1
                },
                {
                    "name": "Congo (Congo-Kinshasa)",
                    "value": 1
                },
                {
                    "name": "Togo",
                    "value": 1
                },
                {
                    "name": "Nepal",
                    "value": 1
                },
                {
                    "name": "Vatican City",
                    "value": 1
                },
                {
                    "name": "Ukraine",
                    "value": 1
                },
                {
                    "name": "Bhutan",
                    "value": 1
                },
                {
                    "name": "Armenia",
                    "value": 1
                },
                {
                    "name": "Jordan",
                    "value": 1
                },
                {
                    "name": "Monaco",
                    "value": 1
                },
                {
                    "name": "Turkey",
                    "value": 1
                },
                {
                    "name": "Mongolia",
                    "value": 1
                },
                {
                    "name": "Cote D\u2019Ivoire",
                    "value": 1
                },
                {
                    "name": "Liechtenstein",
                    "value": 1
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e16\u754c\u5730\u56fe"
            ],
            "selected": {
                "\u4e16\u754c\u5730\u56fe": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e16\u754c\u75ab\u60c5\u5730\u56fencov",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_63e1b397b21e424a88e4c4eb8850d793.setOption(option_63e1b397b21e424a88e4c4eb8850d793);
    </script>
</body>
</html>
