<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="186b891be4bc49ef827955788be23e60" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_186b891be4bc49ef827955788be23e60 = echarts.init(
            document.getElementById('186b891be4bc49ef827955788be23e60'), 'white', {renderer: 'canvas'});
        var option_186b891be4bc49ef827955788be23e60 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u786e\u8ba4",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "01.13",
                    41
                ],
                [
                    "01.14",
                    41
                ],
                [
                    "01.15",
                    41
                ],
                [
                    "01.16",
                    45
                ],
                [
                    "01.17",
                    62
                ],
                [
                    "01.18",
                    198
                ],
                [
                    "01.19",
                    275
                ],
                [
                    "01.20",
                    291
                ],
                [
                    "01.21",
                    440
                ],
                [
                    "01.22",
                    574
                ],
                [
                    "01.23",
                    835
                ],
                [
                    "01.24",
                    1297
                ],
                [
                    "01.25",
                    1985
                ],
                [
                    "01.26",
                    2761
                ],
                [
                    "01.27",
                    4535
                ],
                [
                    "01.28",
                    5997
                ],
                [
                    "01.29",
                    7736
                ],
                [
                    "01.30",
                    9720
                ],
                [
                    "01.31",
                    11821
                ],
                [
                    "02.01",
                    14411
                ],
                [
                    "02.02",
                    17238
                ],
                [
                    "02.03",
                    20471
                ],
                [
                    "02.04",
                    24363
                ],
                [
                    "02.05",
                    28060
                ],
                [
                    "02.06",
                    31211
                ],
                [
                    "02.07",
                    34598
                ],
                [
                    "02.08",
                    37251
                ],
                [
                    "02.09",
                    40235
                ],
                [
                    "02.10",
                    42708
                ],
                [
                    "02.11",
                    44730
                ],
                [
                    "02.12",
                    59882
                ],
                [
                    "02.13",
                    63932
                ],
                [
                    "02.14",
                    66576
                ],
                [
                    "02.15",
                    68584
                ],
                [
                    "02.16",
                    70635
                ],
                [
                    "02.17",
                    72528
                ],
                [
                    "02.18",
                    74279
                ],
                [
                    "02.19",
                    75002
                ],
                [
                    "02.20",
                    75993
                ],
                [
                    "02.21",
                    76392
                ],
                [
                    "02.22",
                    77041
                ],
                [
                    "02.23",
                    77262
                ],
                [
                    "02.24",
                    77779
                ],
                [
                    "02.25",
                    78190
                ],
                [
                    "02.26",
                    78630
                ],
                [
                    "02.27",
                    78959
                ],
                [
                    "02.28",
                    79389
                ],
                [
                    "02.29",
                    79968
                ],
                [
                    "03.01",
                    80174
                ],
                [
                    "03.02",
                    80302
                ],
                [
                    "03.03",
                    80422
                ],
                [
                    "03.04",
                    80565
                ],
                [
                    "03.05",
                    80710
                ],
                [
                    "03.06",
                    80813
                ],
                [
                    "03.07",
                    80859
                ],
                [
                    "03.08",
                    80904
                ],
                [
                    "03.09",
                    80924
                ],
                [
                    "03.10",
                    80955
                ],
                [
                    "03.11",
                    80992
                ],
                [
                    "03.12",
                    81003
                ],
                [
                    "03.13",
                    81021
                ],
                [
                    "03.14",
                    81048
                ],
                [
                    "03.15",
                    81077
                ],
                [
                    "03.16",
                    81116
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u7591\u4f3c",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "01.13",
                    0
                ],
                [
                    "01.14",
                    0
                ],
                [
                    "01.15",
                    0
                ],
                [
                    "01.16",
                    0
                ],
                [
                    "01.17",
                    0
                ],
                [
                    "01.18",
                    0
                ],
                [
                    "01.19",
                    0
                ],
                [
                    "01.20",
                    54
                ],
                [
                    "01.21",
                    37
                ],
                [
                    "01.22",
                    393
                ],
                [
                    "01.23",
                    1072
                ],
                [
                    "01.24",
                    1965
                ],
                [
                    "01.25",
                    2684
                ],
                [
                    "01.26",
                    5794
                ],
                [
                    "01.27",
                    6973
                ],
                [
                    "01.28",
                    9239
                ],
                [
                    "01.29",
                    12167
                ],
                [
                    "01.30",
                    15238
                ],
                [
                    "01.31",
                    17988
                ],
                [
                    "02.01",
                    19544
                ],
                [
                    "02.02",
                    21558
                ],
                [
                    "02.03",
                    23214
                ],
                [
                    "02.04",
                    23260
                ],
                [
                    "02.05",
                    24702
                ],
                [
                    "02.06",
                    26359
                ],
                [
                    "02.07",
                    27657
                ],
                [
                    "02.08",
                    28942
                ],
                [
                    "02.09",
                    23589
                ],
                [
                    "02.10",
                    21675
                ],
                [
                    "02.11",
                    16067
                ],
                [
                    "02.12",
                    13435
                ],
                [
                    "02.13",
                    10109
                ],
                [
                    "02.14",
                    8969
                ],
                [
                    "02.15",
                    8228
                ],
                [
                    "02.16",
                    7264
                ],
                [
                    "02.17",
                    6242
                ],
                [
                    "02.18",
                    5248
                ],
                [
                    "02.19",
                    4922
                ],
                [
                    "02.20",
                    5206
                ],
                [
                    "02.21",
                    5365
                ],
                [
                    "02.22",
                    4148
                ],
                [
                    "02.23",
                    3434
                ],
                [
                    "02.24",
                    2824
                ],
                [
                    "02.25",
                    2491
                ],
                [
                    "02.26",
                    2358
                ],
                [
                    "02.27",
                    2308
                ],
                [
                    "02.28",
                    1418
                ],
                [
                    "02.29",
                    851
                ],
                [
                    "03.01",
                    715
                ],
                [
                    "03.02",
                    587
                ],
                [
                    "03.03",
                    520
                ],
                [
                    "03.04",
                    522
                ],
                [
                    "03.05",
                    482
                ],
                [
                    "03.06",
                    502
                ],
                [
                    "03.07",
                    458
                ],
                [
                    "03.08",
                    421
                ],
                [
                    "03.09",
                    349
                ],
                [
                    "03.10",
                    285
                ],
                [
                    "03.11",
                    253
                ],
                [
                    "03.12",
                    147
                ],
                [
                    "03.13",
                    115
                ],
                [
                    "03.14",
                    113
                ],
                [
                    "03.15",
                    134
                ],
                [
                    "03.16",
                    128
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u786e\u8ba4",
                "\u7591\u4f3c"
            ],
            "selected": {
                "\u786e\u8ba4": true,
                "\u7591\u4f3c": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "01.13",
                "01.14",
                "01.15",
                "01.16",
                "01.17",
                "01.18",
                "01.19",
                "01.20",
                "01.21",
                "01.22",
                "01.23",
                "01.24",
                "01.25",
                "01.26",
                "01.27",
                "01.28",
                "01.29",
                "01.30",
                "01.31",
                "02.01",
                "02.02",
                "02.03",
                "02.04",
                "02.05",
                "02.06",
                "02.07",
                "02.08",
                "02.09",
                "02.10",
                "02.11",
                "02.12",
                "02.13",
                "02.14",
                "02.15",
                "02.16",
                "02.17",
                "02.18",
                "02.19",
                "02.20",
                "02.21",
                "02.22",
                "02.23",
                "02.24",
                "02.25",
                "02.26",
                "02.27",
                "02.28",
                "02.29",
                "03.01",
                "03.02",
                "03.03",
                "03.04",
                "03.05",
                "03.06",
                "03.07",
                "03.08",
                "03.09",
                "03.10",
                "03.11",
                "03.12",
                "03.13",
                "03.14",
                "03.15",
                "03.16"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "nCoV\u786e\u8ba4\u75c5\u4f8b\u4e0e\u7591\u4f3c\u75c5\u4f8b\u66f2\u7ebf",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 60,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_186b891be4bc49ef827955788be23e60.setOption(option_186b891be4bc49ef827955788be23e60);
    </script>
</body>
</html>
